# App Environment Variables
APP_URL="MY_APP_URL"

# Supabase Credentials
VITE_SUPABASE_URL=https://levhyxihbmlawuxgxyzy.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ixyQITQA-bsKuP8s6sM_Zg_IMCSMQlx

